@import url(/node_modules/bootstrap-icons/font/bootstrap-icons.css);
@import 'custom';

html {
    position: relative;
    min-height: 100%;
}
p {
    font-family: $font-family-serif;
    font-size: 18px;
}

footer.footer {
    padding-left:24px;
    padding-right:24px;
    padding-bottom: 36px;
    padding-top: 36px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer.footer-title {
    padding-bottom: 16px;
}
footer.font {
    font-family: $font-family-sans-serif;
}
main {
    padding-bottom: 500px;
}
.home {
    font-family: $font-family-sans-serif;
    margin-left: 26px;
}
.dimension {
    width: 13,8px;
    height: 32px;
    padding: 0px;
    margin-right: 5px;
}
.hero-scene {
    position: relative;
    &::before {
        content: "";
        position:absolute;
        height: 240px;
        width: 100%;
        background-image: url(../Images/chat.jpg);
        background-position: center;
        background-size: cover;
        filter: brightness(0.5);
    }
    *{
        position: relative;
    }
    .hero-scene-content {
    padding-top: 25px;
    padding-left: 24px;
    padding-right: 24px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    }
}
.main-margin {
    padding-top: 25px;
    padding-left: 24px;
    padding-right: 24px;
}
.custom-button {
    font-family: $font-family-serif;
    font-size: 10px;
}
.img-size {
    width: 320px;
    height: 315px;
    margin-bottom: 24px;
    margin-right: 64px;
}
.margin-article {
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.font-head {
    font-family:$font-family-sans-serif;
    font-size: 30px;
}
.font-content {
    font-family: $font-family-serif;
}
.first, .second, .third {
    height: 240px;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    color:$primary;
}
.margin-box-wiewmore {
    margin-top: 20px;
}
.image-card {
    position: relative;
    &:hover {
        .titre-image {
            opacity: 1;
        }
        img {
            filter: brightness(0.5);
        }
    }
    img{
        transition: all 0.3s;
    }
    .titre-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.3s;
    }
}
.modal-body-img {
    position: relative;
    left: 50px;
    width: 350px;
    height: 200px;
}
@media only screen and (min-width: 992px) {
    .hero-scene {
        &::before {
            height: 950px;
        }
        .hero-scene-content {
            padding-top: 305.5px;
            padding-left: 116px;
            padding-right: 104px;
            height: 950px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: flex-start;
            flex-wrap: wrap;
            align-items: flex-start;
        }
        .font-hero{
            font-size: 96px;
        }
        .font-hero-button{
            font-size: 20px;
        }
       
    }
    .margin-article {
        margin-left: 64px;
        margin-right: 64px;
        margin-top: 64px;
        margin-bottom: 64px;
    }
    .img-size {
        width: 544px;
        height: 317px;
    }
    .margin-content-title {
        margin-top: 64px;
        margin-bottom: 64px;
    }
    .first, .second, .third {
        height: 650px;
    }
    .modal-body-img {
        left: 50%;
    }
}
